@charset "ISO-8859-1";

h3{
	color: darkcyan;
	padding: 50px, 0;
	text-decoration:underline;
	
}

fieldset{
    border-radius: 24px;
    border-color: darkblue;
    border-width: 30px;
}

.select1{
    width: 40px;
  }
  
.imagen1{
	max-width:100%;
	width:auto;
	display:block;
	margin:auto;
}

