<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  	<servlet-name>Controlador</servlet-name>
  	<display-name>Controlador</display-name>
  	<description></description>
  	<servlet-class>curso.java.tienda.controlador.Controlador</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Carrito</servlet-name>
	<display-name>Carrito</display-name>
	<description></description>
	<servlet-class>curso.java.tienda.controlador.Carrito</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Catalogo</servlet-name>
  	<display-name>Catalogo</display-name>
  	<description></description>
  	<servlet-class>curso.java.tienda.controlador.Catalogo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PantallaPedido</servlet-name>
  	<display-name>PantallaPedido</display-name>
  	<description></description>
  	<servlet-class>curso.java.tienda.controlador.PantallaPedido</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuarioControlador</servlet-name>
  	<display-name>UsuarioControlador</display-name>
  	<description></description>
  	<servlet-class>curso.java.tienda.controlador.UsuarioControlador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CerrarTodo</servlet-name>
  	<display-name>CerrarTodo</display-name>
  	<description></description>
  	<servlet-class>curso.java.tienda.controlador.CerrarTodo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletPaginador</servlet-name>
  	<display-name>ServletPaginador</display-name>
  	<description></description>
  	<servlet-class>curso.java.tienda.controlador.ServletPaginador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExcelExportar</servlet-name>
  	<display-name>ExcelExportar</display-name>
  	<description></description>
  	<servlet-class>curso.java.tienda.controlador.ExcelExportar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExcelImportar</servlet-name>
  	<display-name>ExcelImportar</display-name>
  	<description></description>
  	<servlet-class>curso.java.tienda.controlador.ExcelImportar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Idioma</servlet-name>
  	<display-name>Idioma</display-name>
  	<description></description>
  	<servlet-class>curso.java.tienda.controlador.Idioma</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HistorialPedidos</servlet-name>
  	<display-name>HistorialPedidos</display-name>
  	<description></description>
  	<servlet-class>curso.java.tienda.controlador.HistorialPedidos</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Controlador</servlet-name>
  	<url-pattern>/Controlador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Carrito</servlet-name>
  	<url-pattern>/Carrito</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Catalogo</servlet-name>
  	<url-pattern>/Catalogo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PantallaPedido</servlet-name>
  	<url-pattern>/PantallaPedido</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioControlador</servlet-name>
  	<url-pattern>/UsuarioControlador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CerrarTodo</servlet-name>
  	<url-pattern>/CerrarTodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletPaginador</servlet-name>
  	<url-pattern>/ServletPaginador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExcelExportar</servlet-name>
  	<url-pattern>/ExcelExportar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExcelImportar</servlet-name>
  	<url-pattern>/ExcelImportar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Idioma</servlet-name>
  	<url-pattern>/Idioma</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HistorialPedidos</servlet-name>
  	<url-pattern>/HistorialPedidos</url-pattern>
  </servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>

